body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./Assests/img/pexels-cottonbro-4659794.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* filter: brightness(1.4); */
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 400px;
    height: 85%;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.form:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
}

.form-check a{
    margin-left: 40%;
    font-size: small;
}

.signup-link{
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: bold;
    margin-top: 5px;
}

/* .back-to-home{
    display: flex;
    justify-content: right;
    font-size: small;
} */
.back-home {
  text-align: center;
  margin-bottom: 10px;
}

.back-home a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.back-home a:hover {
  color: #000;
  text-decoration: underline;
}




.hd {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.btn {
    width: 100%;
}

.for_pass {
    margin-left: 60px;
    font-size: 12px;
}

.rem {
    font-size: 12px;
}

input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
    outline: none;
    transition: all 0.3s ease;
}
.signup_li{
    padding-left: 5px;
    
}